html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Federo', sans-serif;
    background-color: #fdf5f5;
}

.main-hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?w=1380&t=st=1691035890~exp=1691036490~hmac=ea7630f1d79ccf3666e827538c195a93bbc4b17a89398667ab6a2bc18b58ed07");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main-hero-txt {
    color:#fdebeb;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    float: right;
    border-right: none;
    border-left: 1px solid #8DAAE5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5776ad60;
    position: sticky;
}

li {
    float: left;
    border-right: 1px solid #8DAAE5;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #5776AD;
}

li a:hover {
    background-color: #8DAAE5;
}

h4 {
    color: #5776AD;
}

.main-page-grid {
    display: grid;
}

.pop-redirect {
    width: 700px;
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    grid-column-start: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.jazz-redirect {
    width: 700px;
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    grid-area: 1 / 4;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.hiphop-redirect {
    width: 700px;
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    grid-area: 2 / 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.rock-redirect {
    width: 700px;
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    grid-area: 2 / 4;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

button {
    border: 1px solid #5776ad60;
    border-radius: 10px;
    background-color: #5776ad60;
    color: #5776AD;
}

button:hover {
    background-color: #8DAAE5;
}

img {
    height: 185px;
    width: 200px;
    border-radius: 50%;
}

.pop-hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?w=1380&t=st=1691035890~exp=1691036490~hmac=ea7630f1d79ccf3666e827538c195a93bbc4b17a89398667ab6a2bc18b58ed07");
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.pop-hero-txt {
    color:#fdebeb;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-page-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
}

.pop-info {
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.pop-info-txt {
    color:#E2F1FF;
    background-color: #5776AD;
    padding: 10px;
    margin-left: -10px;
}

.pop-artists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color:#5776AD;
}

.pop-artist-1 {
    background-color: #5776ad1a;
    width: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pop-artist-2 {
    background-color: #5776ad1a;
    width: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pop-artist-3 {
    background-color: #5776ad1a;
    width: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}