html {
    height: 100%;
    width: 100%;
}

.main-hero-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-photo/rear-view-excited-people-with-arms-raised-having-fun-while-watching-confetti-fireworks-front-stage-music-festival-copy-space_637285-568.jpg?w=1380&t=st=1691035890~exp=1691036490~hmac=ea7630f1d79ccf3666e827538c195a93bbc4b17a89398667ab6a2bc18b58ed07");
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-hero-txt {
    color:#ffffff;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5776ad60;
    position: sticky;
}

li {
    float: left;
    border-right: 1px solid #8DAAE5;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #5776AD;
}

li a:hover {
    background-color: #8DAAE5;
}

h4 {
    color: #5776AD;
}

.main-page-grid {
    display: grid;
    grid: auto auto auto auto;
}

.pop-redirect {
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    grid-column-start: auto;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.jazz-redirect {
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    grid-area: 1 / 4;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.hiphop-redirect {
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    grid-area: 2 / 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.rock-redirect {
    background-color: #5776ad1a;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    grid-area: 2 / 4;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

button {
    border: 1px solid #5776ad60;
    border-radius: 10px;
    background-color: #5776ad60;
    color: #5776AD;
}

button:hover {
    background-color: #8DAAE5;
}

img {
    height: 255px;
    width: 265px;
    border-radius: 50%;
}